@model List<PatientModel>

<div class="container">
    <h2 class="text-center">List Page For Doctors</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th># Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Recommendation</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
                <tr>
                    <td>
                        <img src="@patient.ReportFile" alt="Report Image" style="max-width: 100px; max-height: 100px;" />
                    </td>
                    <td>@patient.Name @patient.Surname</td>
                    <td>@patient.Description</td>

                    <td>
                        @if (ViewBag.ListOfResponse.ContainsKey(patient.CustomerId))
                        {
                            <ul>
                                <li>@ViewBag.ListOfResponse[patient.CustomerId].DiseaseDetection</li>
                            </ul>
                        }
                        else
                        {
                            <p>No recommendations yet.</p>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Doctor" asp-action="Details" asp-route-id="@patient.CustomerId">View</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
